<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
  <%= form.label :conference %>
  <%= form.text_field :conference %>
  </div>

  <div class="field">
    <%= form.label :division %>
    <%= form.text_field :division %>
  </div>

  <div class="field">
    <%= form.label :reg_rec %>
    <%= form.text_field :reg_rec %>
  </div>

  <div class="field">
    <%= form.label :finish %>
    <%= form.text_field :finish %>
  </div>

  <div class="field">
    <%= form.label :division_standing %>
    <%= form.text_field :division_standing %>
  </div>

  <div class="field">
    <%= form.label :conference_standing %>
    <%= form.text_field :conference_standing %>
  </div>

  <div class="field">
    <%= form.label :league_standing %>
    <%= form.text_field :league_standing %>
  </div>

  <div class="field">
    <%= form.label :championships %>
    <%= form.text_field :championships %>
  </div>

  <div class="field">
    <%= form.label :finals_appearances %>
    <%= form.text_field :finals_appearances %>
  </div>

<div class="field">
  <%= form.label :season_id %>
  <%= form.number_field :season_id %>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
