<p id="notice"><%= notice %></p>

<h1> Awards </h1>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}
</style>
</head>


<table style="width:90%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Conference</th>
      <th>Division</th>
      <th>Regular Season Record</th>
      <th>Finish</th>
      <th>Division Standing</th>
      <th>Conference Standing</th>
      <th>League Standing </th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
        <tr>
        <td><%=@award.year%></td> 
        <td><%=@award.MVP%></td>
        <td><%=@award.DPOY%></td>
        <td><%=@award.MIP%></td>
        <td><%=@award.SMOY%></td>
        <td><%=@award.ROY%></td>
        <td><%=@award.COY%></td>
        <td><%=@award.ASMVP%></td>
        <td><%=@award.FMVP%></td>
        </tr>
  </tbody>
</table>

<td><%= link_to 'Edit', edit_award_path(@award) %></td>
<%= link_to 'Back', awards_path %>
